
$color-pink: #EE00FF;
$color-grey: #C4C4C4;
$color-white: #FFFFFF;

* {
  padding: 0;
  margin: 0;
  
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: $color-white;
}

section {
  border: solid 3px $color-pink;
  padding: 5px;
  margin: 5px;
}