* {
  padding: 0;
  margin: 0;
  
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

header {
  width: 100vw;
  height: 100vh;
  border: solid 3px red;
  padding: 5px;
  margin: 5px;
}

section {
  width: 100vw;
  height: 100vh;
  border: solid 3px red;
  padding: 5px;
  margin: 5px;
}

