$breakpoint-mobile: 768px;

* {
  padding: 0;
  margin: 0;
}



// OPENING PAGE

.opening-hexs {
  width: 768px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border: solid 3px red;
  padding: 5px;
  margin: 5px;

  img {
    width: 60%;
  }
}
  // LANDING PAGE SECTION
section {
  width: 768px;
  height: 1200px;

  position: relative;
  border: solid 3px red;
  padding: 5px;
  margin: 5px;
  
  &__capture {
    position: absolute;
    top: 0;
    z-index: 5;
  }
  &__develop {
    position: absolute;
    top: 300px;
    z-index: 5;
  }
  &__create {
    position: absolute;
    top: 600px;
    z-index: 5;
  }
}
@media  (orientation: portrait) {
  .background {
    background-image: url('Mobile images/11Background-portrait.png');
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
  }
}
@media  (orientation: landscape) {
  .background {
    background-image: url('Mobile images/backgroundlandscape.jpg');
    background-size: 100%;
    background-repeat: none;
    z-index: 2;
  }
}

// ABOUT SECTION
section {
  width: 768px;
  height: 1400px;

  border: solid 3px red;
  padding: 5px;
  margin: 5px;

  &__jemmaholmes {
    width: 80%;
    height: auto;

    position: relative;
  }
  .hexs {
    width: 60%;
    height: 60%;

    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}  
  
// PROJECTS SECTION
main {
  width: 768px;
  height: 1200px;

  border: solid 3px red;
  padding: 5px;
  margin: 5px;

  button {
    display: flex;
    justify-content: space-around;
    align-items: center;

    border: none;
    background-color: #C4C4C4;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    
    font-size: 22px;
    margin: 4px 2px;
    cursor: pointer;
    z-index: 5;
  }
}

.projects {
  background-image: url('Mobile images/projectbackground2.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 2;
}

// // CONTACT SECTION
.bottom-hexs {
  width: 768px;
  height: 250px;

  display: flex;
  justify-content: space-between 0px;
  justify-content: center;
  border: solid 3px red;
  padding: 5px;
  margin: 5px;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}
