// SPLASH PAGE
.opening-hexs {
  img {
    width: 33%;
    height: auto;
  }
}

// LANDING PAGE
.background {
  &__capture {
    width: 20%;
    height: 20%;
  }
  &__develop {
    width: 20%;
    height: 20%;
  }
  &__create {
    width: 20%;
    height: 20%;
  }
}

// ABOUT SECTION
.about {
  &__jemmaholmes {
    width: 40%;
    height: 40%;
  }
}
.hexs img {
    height: 30%;
    width: 30%;
}

// PROJECTS SECTION
.projects {
  button {
    width: 150px;
    border: none;
    background-color: #C4C4C4;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    z-index: 5;
  }
}

// CONTACT PAGE
.contact {
  &__linkedin {
    max-width: 60%;
    max-height: 60%;
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10%;
  }
  &__instagram {
    max-width: 60%;
    max-height: 60%;
    position: absolute;
    bottom: 0;
    left: 45%;
    margin: 10%;
  }
  &__github {
    max-width: 60%;
    max-height: 60%;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10%;
  }
}