// LAYOUTS FOR PORTRAIT

@media  (orientation: portrait) {
  section {
    height: 100vh;
    width: 100vw;
  }

  // SPLASH PAGE **PORTRAIT**
  .opening-hexs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    // LANDING PAGE **PORTRAIT**
  .background {
    background-image: url('Mobile images/Landing-Portrait.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  // ABOUT **PORTRAIT**
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hexs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // PROJECT SECTION **PORTRAIT**
  .projects {
    background-image: url('Mobile images/Project-Portrait.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
  }
}




// LAYOUTS FOR LANDSCAPE 

@media  (orientation: landscape) {
  section {
    width: 100vw;
    height: 100vh;
  }

  // SPLASH PAGE **LANDSCAPE**
  .opening-hexs {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // LANDING PAGE **LANDSCAPE**
  .background{
    background-image: url('Mobile images/Landing-Landscape.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  // ABOUT **LANDSCAPE**
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // PROJECT SECTION **LANDSCAPE**
  .projects {
    background-image: url('Mobile images/Project-Landscape.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
  }
}


// PROJECTS SECTION
.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between 40px;
  justify-content: flex-end;
  align-items: center;
}

// CONTACT SECTION
.contact {
  position: relative;
  justify-content: space-around;
}
