// LAYOUTS FOR PORTRAIT

@media  (orientation: portrait) {
  // SPLASH PAGE **PORTRAIT**
  .opening-hexs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

    // LANDING PAGE **PORTRAIT**
  .background {
    background-image: url('Mobile images/1.Background-portrait.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;

    display: flex;
    flex-direction: column;
  }

  // ABOUT **PORTRAIT**
  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hexs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  // PROJECT SECTION **PORTRAIT**
  .projects {
    background-image: url('Mobile images/projectbackground2.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
  }
}




// LAYOUTS FOR LANDSCAPE 

@media  (orientation: landscape) {
  // SPLASH PAGE **LANDSCAPE**
  .opening-hexs {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // LANDING PAGE **LANDSCAPE**
  .background{
    background-image: url('Mobile images/backgroundlandscape.jpg');
    background-size: 100%;
    background-repeat: none;
    z-index: 2;
    
    display: flex;
  }

  // ABOUT **LANDSCAPE**
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // PROJECT SECTION **LANDSCAPE**
  .projects {
    background-image: url('Mobile images/1Project-background.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
  }
}


// PROJECTS SECTION
.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between 40px;
  justify-content: flex-end;
  align-items: center;
}

// CONTACT SECTION
.contact {
  display: flex;
  justify-content: center;
  align-items: center;
}
