* {
  padding: 0;
  margin: 0;
}

.opening-hexs {
  width: 768px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 3px red;
  padding: 5px;
  margin: 5px;
}
.opening-hexs img {
  width: 60%;
}

.background {
  width: 768px;
  height: 1200px;
  position: relative;
  border: solid 3px red;
  padding: 5px;
  margin: 5px;
}
.background img {
  max-width: 100%;
  max-height: 100%;
}
.background__image {
  position: absolute;
  z-index: 2;
}
.background__capture {
  position: absolute;
  top: 0;
  z-index: 5;
}
.background__develop {
  position: absolute;
  top: 300px;
  z-index: 5;
}
.background__create {
  position: absolute;
  top: 600px;
  z-index: 5;
}

.hexs {
  width: 768px;
  height: 1400px;
  position: relative;
  border: solid 3px red;
  padding: 5px;
  margin: 5px;
}
.hexs__jemmaholmes {
  max-width: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
}
.hexs__hex12 {
  transform: rotate(90deg);
  width: 400px;
  position: absolute;
  top: 300px;
  right: 0px;
}
.hexs__hex1 {
  max-height: 60%;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.projects {
  width: 768px;
  height: 1200px;
  position: relative;
  border: solid 3px red;
  padding: 5px;
  margin: 5px;
}
.projects button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 22px;
  margin: 4px 2px;
  cursor: pointer;
  z-index: 5;
}
.projects img {
  max-width: 100%;
  max-height: 100%;
}
.projects__project-home {
  position: absolute;
  z-index: 2;
}
.projects__projects {
  position: absolute;
  top: 300;
  z-index: 5;
}
.projects__project-one {
  position: absolute;
  top: 400;
  z-index: 5;
}
.projects__project-two {
  position: absolute;
  top: 400;
  z-index: 5;
}
.projects__project-three {
  position: absolute;
  top: 600;
  z-index: 5;
}

.bottom-hexs {
  width: 768px;
  display: flex;
  justify-content: space-between 0px;
  justify-content: center;
  border: solid 3px red;
  padding: 5px;
  margin: 5px;
}
.bottom-hexs img {
  max-width: 100%;
  max-height: 100%;
}

/* section hexagaons */