* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
}

header {
  width: 100vw;
  height: 100vh;
  border: solid 3px red;
  padding: 5px;
  margin: 5px;
}

section {
  width: 100vw;
  height: 100vh;
  border: solid 3px red;
  padding: 5px;
  margin: 5px;
}

.opening-hexs img {
  width: 33%;
  height: auto;
}

.background__capture {
  width: 20%;
  height: 20%;
}
.background__develop {
  width: 20%;
  height: 20%;
}
.background__create {
  width: 20%;
  height: 20%;
}

.about__jemmaholmes {
  width: 40%;
  height: 40%;
}

.hexs img {
  height: 30%;
  width: 30%;
}

.projects button {
  width: 150px;
  border: none;
  background-color: #C4C4C4;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  z-index: 5;
}

.contact__linkedin {
  max-width: 60%;
  max-height: 60%;
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 10%;
}
.contact__instagram {
  max-width: 60%;
  max-height: 60%;
  position: absolute;
  bottom: 0;
  left: 45%;
  margin: 10%;
}
.contact__github {
  max-width: 60%;
  max-height: 60%;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 10%;
}

@media (orientation: portrait) {
  .opening-hexs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .background {
    background-image: url("Mobile images/Landing-Portrait.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }

  .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .hexs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .projects {
    background-image: url("Mobile images/Project-Portrait.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
  }
}
@media (orientation: landscape) {
  .opening-hexs {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .background {
    background-image: url("Mobile images/Landing-Landscape.jpg");
    background-size: 100%;
    background-repeat: none;
    z-index: 2;
    display: flex;
  }

  .about {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .projects {
    background-image: url("Mobile images/Project-Landscape.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 2;
  }
}
.projects {
  display: flex;
  flex-direction: column;
  justify-content: space-between 40px;
  justify-content: flex-end;
  align-items: center;
}

.contact {
  position: relative;
  justify-content: space-around;
}